<!DOCTYPE html>
<html>
    <head>
        <title>Quad-Tac-Toe</title>

        <!--Import bootstrap-->
        <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.css" crossorigin="anonymous">
        <meta charset="utf-8"/>
        <!--Import css-->
        <link rel="stylesheet" type="text/css" href="style.css">
        <!-- Vertex shader script -->
        <script id="vertex-shader" type="x-shader/x-vertex">
            // Vertex Shaders require a position input/"attribute"
            attribute vec4 vPosition;
            attribute vec4 vColor;
            attribute vec3 vNormal;

            uniform mat4 uNormalMatrix;
            uniform mat4 uModelViewMatrix;
            uniform mat4 uProjectionMatrix;

            varying highp vec4 varColor;
            varying highp vec3 vLighting;

            void main()
            {
                // gl_Position is a build-in "varying"
                // Set its value with the vertex shader
                // Simplest shader just copies position over

                gl_Position = uProjectionMatrix * uModelViewMatrix * vPosition;
                varColor = vColor;

                // Apply lighting

                highp vec3 ambientLight = vec3(0.3, 0.3, 0.3);
                highp vec3 directionalLightColor = vec3(1, 1, 1);
                highp vec3 directionalVector = normalize(vec3(0.85, 0.8, 0.75));

                highp vec4 transformedNormal = uNormalMatrix * vec4(vNormal, 1.0);
                // highp vec4 transformedNormal = uNormalMatrix * vec4(1.0, 0.0, 0.0, 1.0);
            
                highp float directional = max(dot(transformedNormal.xyz, directionalVector), 0.0);
                vLighting = ambientLight + (directionalLightColor * directional);
            }
        </script>

        <!-- Fragment shader resource -->
        <script id="fragment-shader" type="x-shader/x-fragment">
            // Set default precision for floats
            // Required, we need a precision
            // Choices are lowp and mediump
            precision mediump float;

            varying highp vec4 varColor;
            varying highp vec3 vLighting;

            void main()
            {
                // gl_FragColor is a built-in fragment shader output
                // Usually should be set, but not totally Required
                gl_FragColor = vec4(varColor.rgb * vLighting, varColor.a);
            }
        </script>

        <!-- Vertex shader script for picking -->
        <script id="pick-vertex-shader" type="x-shader/x-vertex">
            // Vertex Shaders require a position input/"attribute"
            attribute vec4 vPosition;
            attribute float vPickColor;

            uniform mat4 uProjectionMatrix;
            uniform mat4 uModelViewMatrix;

            varying float vPickCol;

            void main()
            {
                // gl_Position is a build-in "varying"
                // Set its value with the vertex shader
                // Simplest shader just copies position over

                gl_Position = uProjectionMatrix * uModelViewMatrix * vPosition;
                vPickCol = vPickColor;
            }
        </script>

        <!-- Fragment shader resource -->
        <script id="pick-fragment-shader" type="x-shader/x-fragment">
            // Set default precision for floats
            // Required, we need a precision
            // Choices are lowp and mediumps
            precision mediump float;

            varying float vPickCol;

            void main()
            {
                // gl_FragColor is a built-in fragment shader output
                // Usually should be set, but not totally Required
                float aCol = vPickCol / 128.0;
                gl_FragColor = vec4(aCol,aCol,aCol,1.0);
            }
        </script>

        <script type="text/javascript" src="/static/src/App.js"></script>
        <script type="text/javascript" src="/static/util/webgl-utils.js"></script>
        <script type="text/javascript" src="/static/util/shader-utils.js"></script>
        <script type="text/javascript" src="/static/util/gl-matrix-min.js"></script>
        <script type="text/javascript" src="/static/src/rendering.js"></script>
        <script type="text/javascript" src="/static/src/controls.js"></script>
        <script type="text/javascript" src="/static/src/game.js"></script>
        <script>
            function closeWindow(){
                document.getElementById('winningMessage').style.display = "none"
            }
        </script>

        <script>
            function restartGame(){
                document.location.reload();
                clearInterval(interval); // Needed for Chrome to end game
            }
        </script>

        <script>
            function togglePopup(){
                document.getElementById("popup-1").classList.toggle("active");
            }
        </script>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">

    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Tic Tac Toe 3D</a>
        </nav>

        <!-- Top text -->
         <div class="jumbotron text-center">
            <h1>3D Tic Tac Toe</h1>
            <p>Ari James Haohui Tu</p> 
            <button onclick="togglePopup()">Read more</button>
         </div>

        <div class="Rule">
            <p>The first player to achieve four of their own markers in a row wins</p> 
            <p>The winning row can be horizontal, vertical, or diagonal on a single board </p>
            <p>or vertically in a column, or a diagonal line through four boards</p>
        </div>
            
        <!-- Draw the canvas. This is what WebGL will render to -->
        <div class="canvas">
            <canvas id="gl-canvas" width="512" height="512">
                Oops ... Sorry, your browser doesn't support HTML5 canvas :(
            </canvas>
        </div>

        <div class="changeColour">
            <div class="hidden">
                <input type="number" id="numchange">
                <button id="changebutton">Color</button>
            </div>
            <button id="restartButton" onclick="restartGame()">Restart</button>

            <div class="winning-message" id="winningMessage"> 
                <div data-winning-message-text></div>
                <div id="container">
                    <button id="restartButton" onclick="restartGame()">Restart</button>
                    <button id="closeButton" onclick="closeWindow()">Close</button>
                </div>
            </div>
        </div>

        <div class="popup" id="popup-1">
            <div class="overlay"></div>
            <div class="content">
              <div class="close-btn" onclick="togglePopup()">&times;</div>
              <h1>More information </h1>
              <img  class="animated-gif" src="{{url_for('static', filename='COMB.gif')}}" />
              <p>A combinatorial line is given by a root. A root is a coordinate where at least one of the dimensions is replaced by a free character, in this case the character *. 
                To generate a line, the character * is replaced with the possible values of a coordinate; in this case, iterating through [1, 2, 3]. 
                This creates a line of coordinates, which is also always what would be a valid Tic-Tac-Toe win. However, not every valid Tic-Tac-Toe win is a combinatorial line. 
                The Hales-Jewett Theorem implies that for a high enough dimensional grid, a combinatorial line must exist. This then implies that on a Tic-Tac-Toe board of that
                dimension, a tie-game is not possible.
             </p>
              <img  class="animated-gif" src="{{url_for('static', filename='VDW.gif')}}" />

              <p>By matching a colouring of a grid to a colouring of the natural numbers, a monochromatic combinatorial line will provide a monochromatic arithmetic progression.
                Multiple colouring schemes can work, but summing the coordinates of each point in the grid and assigning corresponding colour is a simple method. Since the 
                Hales-Jewett theorem guarantees that a high enough dimensional grid must contain a monochromatic combinatorial line, this shows that the Hales-Jewett theorem 
                implies van der Waerden's theorem, guaranteeing us a monochromatic arithmetic progression.</p>
            </div>
          </div>
          
    </body>
</html>